body {
    margin: 0;
    color: #fafafa;
    background-color: aliceblue;
    font-family: sans-serif;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

h2{
    font-size: 22px;
}
a {
    text-decoration: none;
    color: rgb(0, 0, 63);
    font-size: 18px;
}

.main-header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: rgb(0, 0, 63);
    padding: 3vh 0.1vw;
    color: rgb(233, 239, 255);
}

.menu {
    display: flex;
    flex-wrap: wrap;
    background-color: azure;
    padding: 1.5vh 1vw;
    border-radius: 15px;
}
.menu__item {
    margin: 0 .25rem;
    padding: .25rem .5rem;
    color: rgb(0, 0, 63);
    font-size: 18px;
}
.notification {
    position: relative;
}
.fa-bell-o{
    padding-top: 0.6vh;
    font-size: 24px;
}
.fa-bell-o::after {
    content: attr(value);
    font-size: 0.6em;
    color: #fafafa;
    background-color: rgb(206, 0, 0);
    border-radius: 50%;
    padding: 0.4vh 0.5vw;
    position: relative;
    left: -0.2vw;
    top: -1.8vh;
}
.bodySec
{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:'Courier New', Courier, monospace;
}
th{
    padding: 5px;
}
tr:nth-child(odd) {
    background-color: rgba(128, 128, 128, 0.557);
}
tr,td{
    border: 2px solid rgb(0, 0, 63);
    padding: 5px;
    margin: 2px;
}
#FullEmptble
{
    color: #000;
}
#present
{
    color: green;   
}
#absent
{
    color: red;
}
.LateReport{
    background-color: rgba(128, 128, 128, 0.432);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 1vw 1vh;
    border: 2px solid black;
    border-radius: 15px;
    color: rgb(0, 0, 63);
    font-family:'Courier New', Courier, monospace;
}
#numberoflate ,#mostlatestemp,#mostabsentemp
{
    color: rgb(0, 0, 63);

}